[Unit]
Description=PIZ_HID button service
DefaultDependencies=true

[Service]
Type=simple
ExecStart=/usr/bin/pizhid-button

[Install]
WantedBy=local-fs.target
